@import '../../styles/variables.scss';

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    background: var(#{--components-background-default});
    box-shadow: var(#{--card-shadow-default});
    border-radius: $border-radius;
}

.blur{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    transition: 0.5s;
}

.blur.hide{
    opacity: 0;
    visibility: hidden;
}

.close{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    svg{
        transition: 0.3s;
    }
    &:hover{
        svg{
            transform: rotate(360deg);
        }
    }
}

.day{

    .day_temp{
        font-weight: 500;
        font-size: 60px;
        color: $primary-color;
        margin-bottom: 12px;
    }

    .day_name{
        font-size: 25px;
        line-height: 30px;
        color: var(#{--text-color-default});
        margin-bottom: 12px;

        &::first-letter {
            text-transform:capitalize;
        }
    }

    .img{
        svg{
            width: 53px;
            height: 53px;
        }
        margin-bottom: 12px;
    }

    .day_time, 
    .day_city{
        font-size: 15px;
        line-height: 18px;
        color: $base-color;
    }
}

@media screen and (max-width:1060px) {
    .popup{
        max-width: 724px;
    }
}

@media screen and (max-width: 784px){
    .popup{
        max-width: 500px;
        flex-direction: column;
        padding: 20px;
    }
    .day{
        width: 100%;
        margin-bottom: 20px;
    }
    .this_day_info_items{
        width: 100%;
    }
}

@media screen and (max-width: 520px){
    .popup{
        max-width: 90%;
    }
}
