@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    position: relative;
    background: var(#{--body-background-default});
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

::-webkit-scrollbar {
    width: 8px;
    transition: 0.5s;
}
  
::-webkit-scrollbar-track {
  background: var(#{text-color-default});
  transition: 0.5s;
}
  
::-webkit-scrollbar-thumb {
  background: #4793ff;
  border-radius: 8px;
  transition: 0.5s;
}

@media screen and (max-width:1250px) {
  .container{
    max-width: 1000px;
  }
}

@media screen and (max-width:1060px) {
  .container{
    max-width: 724px;
  }
}

@media screen and (max-width: 784px){
  .container {
      max-width: 500px;
  }
}

@media screen and (max-width: 550px){
  .container {
      max-width: 90%;
  }
}