.home{
    font-size: 30px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width:1060px) {
    .wrapper{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 784px){
    .wrapper{
        flex-direction: column;
        margin-bottom: 20px;
    }
}
