@import '../../../../styles//variables.scss';

.this_day_info{
    position: relative;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    background: var(#{--components-background-default});
    box-shadow: var(#{--card-shadow-default});
    border-radius: $border-radius;
    overflow: hidden;
    .this_day_info_items{
        z-index: 1;
        position: relative;
    }
}

.item{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &:last-of-type{
        margin-bottom: 0;
    }
    .indicator, .indicator_name{
        margin-right: 20px;
    }

    .indicator{
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(#{--components-background-default});
        box-shadow: var(#{--card-shadow-default});
        border-radius: 50%;
    }

    .indicator_name{
        font-size: 14px;
        color: $base-color;
    }

    .indicator_value{
        font-size: 14px;
        color: var(#{--text-color-default});
    }
}

.cloud_img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
}

@media screen and (max-width:1250px) {
    .this_day_info{
        max-width: 650px;
    }
}

@media screen and (max-width:1060px) {
    .cloud_img{
        width: 50%;
    }
    .this_day_info{
        max-width: 400px;
        padding: 20px;
    }
}

@media screen and (max-width: 784px){
    .this_day_info{
        max-width: 100%;
        padding: 20px;
    }
    .cloud_img{
        display: none;
    }
    .item{
        .indicator, .indicator_name{
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 550px){
    .item{
        .indicator{
            width: 38px;
            height: 38px;
            svg{
                width: 100%;
                object-fit: contain;
            }
        }
        .indicator_name{
            display: none;
        }
    }
  }